services:
  db:
    image: postgres:latest
    container_name: economiza_ai_db
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - '${DB_PORT_EXT}:${DB_PORT_INT}'
    volumes: 
      - db:/var/lib/postgresql/data
    networks:
      - economiza_ai_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "${DB_NAME}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
  
  api:
    build: .
    container_name: economiza_ai_api
    ports:
      - '${PORT}:${PORT}'
    environment:
      - PORT=${PORT}
      - DB_HOST=db
      - DB_PORT=${DB_PORT_INT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - economiza_ai_network

networks:
  economiza_ai_network:
    driver: bridge

volumes:
  db:
    driver: local
